---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Storytelling from "../components/Storytelling.astro";
import Progress from "../components/Progress.astro";
import Simulasi from "../components/Simulasi.astro";
import CaraWakaf from "../components/CaraWakaf.astro";
import Legalitas from "../components/Legalitas.astro";
import Testimoni from "../components/Testimoni.astro";
import Faq from "../components/Faq.astro";
import UpdateProgress from "../components/UpdateProgress.astro";
import FinalCta from "../components/FinalCta.astro";
import Footer from "../components/Footer.astro";
import WhatsappFloat from "../components/WhatsappFloat.astro";
---

<Layout title="Beranda">
    <Header />

    <main>
        <Hero />
        <Storytelling />
        <Progress />
        <Simulasi />
        <CaraWakaf />
        <Legalitas />
        <Testimoni />
        <Faq />
        <UpdateProgress />
        <FinalCta />
    </main>

    <Footer />
    <WhatsappFloat />
</Layout>
